@{
    ViewData["Title"] = "Загруженные фотографии";
}

<h1>Загруженные фотографии</h1>
<div id="gallery">
    @foreach (string fileName in ViewBag.ImageFiles)
    {
        <img src="~/images/@fileName" alt="@fileName" width="200" height="150" />
    }
</div>