@{
    ViewData["Title"] = "Загруженные фотографии";
}
<style>
    .gallery {
        display: flex;
        flex-direction: row;
    }

    /* Дополнительный стиль для элементов внутри контейнера .list */
    .gallery > img {
        margin-top: 15px;
        margin-right: 15px;
    }
</style>

<h1>Загруженные фотографии</h1>
<div class="gallery">
    @foreach (string fileName in ViewBag.ImageFiles)
    {
        <img src="~/images/@fileName" alt="@fileName" height="150" />
    }
</div>